<!DOCTYPE html>
<html lang ="en">
<head>
  <title> Anki Web</title>
  <link rel="stylesheet" href="card-review.component.css">
</head>

<body>
<section class="section-main">
  <igx-card class="igx-card">
    <div>
      <p>{{recto}}</p>
    </div>

    <div *ngIf="this.isAnswerVisible">
      <p>{{verso}}</p>
    </div>
    <div *ngIf="!this.isAnswerVisible">
      <p class="p-hidden">Hidden</p>
      <button igxButton (click)="showAnswer()">Show Answer</button>
    </div>

  </igx-card>

</section>
</body>
