<!-- src/app/menu-nav-bar/menu-nav-bar.component.html -->
<!DOCTYPE html>
<html lang ="en">
<head>
  <title> Anki Web</title>
  <link rel="stylesheet" href="menu-nav-bar.component.css">
</head>

<body>
<div class = "main">
  <app-nav-bar/>

  <div class="CollectionMedia">
    <p>Collection: 0.13MB     Media: <10kB</p>
  </div>
  <div class="navbar-3">
    <nav>
      <div class="Gestion-buttons">
        <ul>
          <li><a href="#">
            <button class="GetShared-button">Get Shared Decks</button>
          </a></li>
          <li><a href="#">
            <button class="SharedItems-button">My Shared Items</button>
          </a></li>
          <li><a href="#">
            <button class="CreateDeck-button">Create Deck</button>
          </a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class ="navbar-2">
    <div class="bottom">
      <nav>
        <div class="info-button">
          <ul>
            <li><a href="#">
              <button class="Apps-button">Apps</button>
            </a></li>
            <li><a href="#">
              <button class="About-button">About</button>
            </a></li>
            <li><a href="#">
              <button class="Support-button">Support</button>
            </a></li>
            <li><a href="#">
              <button class="Terms-button">Terms</button>
            </a></li>
            <li><a href="#">
              <button class="Privacy-button">Privacy</button>
            </a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
</body>
</html>

<router-outlet></router-outlet>
