<!-- src/app/home/home.component.html -->
<!DOCTYPE html>
<html lang ="en">
<head>
  <title> Anki Web</title>
  <link rel="stylesheet" href="login.component.css">
</head>

<body>
<div class = "main">
  <div class ="navbar">
    <div class="icon">
      <h2 class ="logo">AnkiWeb</h2>
      <img ngSrc="logo.png" alt="" class="logo">
    </div>
    <nav>
      <div class="auth-buttons">
        <ul>
          <li><a href="#">
            <button class="login-button">Sign up</button>
          </a></li>
        </ul>
      </div>
    </nav>
  </div>

  <main class="container svelte-uhvvkf">
    <h1> Login</h1>
    <p> Log in to an existing account.</p>
    <form (ngSubmit)="onLoginClick()">
      <label igxLabel for="email"> Email</label>
      <igx-input-group>
        <input igxInput id="email" name="email" type="text" [(ngModel)]="email" [required]="true"/>
      </igx-input-group>

      <label for="password">Password</label>
      <igx-input-group>
        <input igxInput [type]="password" id="password" name="password" [(ngModel)]="password"/>
      </igx-input-group>

      <button>Login </button>

      <div class="mt-2 form-group">
        <button (click)="onresetpasswordclick()">reset-password</button>
      </div>
    </form>
  </main>
</div>
</body>
</html>


