<!-- src/app/home/home.component.html -->
<!DOCTYPE html>
<html lang ="en">
<head>
  <title> Anki Web</title>
  <link rel="stylesheet" href="signup.component.css">
</head>

<body>
<div class = "main">
  <div class ="navbar">
    <div class="icon">
      <h2 class ="logo">AnkiWeb</h2>
      <img src="logo.png" alt="" class="logo" height="64" width="64">
    </div>
    <nav>
      <div class="auth-buttons">
        <ul>
          <li><a href="#">
            <button class="login-button">Log In</button>
          </a></li>
          <li><a href="#">
            <button class="login-button">Sign up</button>
          </a></li>
        </ul>
      </div>
    </nav>
  </div>

  <main class="container svelte-uhvvkf">
    <h1> Sign Up</h1>
    <p> Create a free account in under a minute.</p>
    <p> We'll sen you an email to confirm your address, so please
      ensure your email is correct.
    </p>
    <form>
      <div class="form-floating mb-3 form-control">
        <input class="form-control svelte-1ak1s42" type="text" autocomplete="username" autofocus="" maxlength="1000" id="GlReZmt-jnW847kZ87-8m" placeholder="Email">
      </div>
      <div class="form-floating mb-3 form-control">
        <input class="form-control svelte-1ak1s42" type="password" autocomplete="new-password" id="5rhTozHVztdZ-0pODxGLU" placeholder="New Password">
      </div>
      <div class="mb-3">
        <button class="btn1" disabled="">Sign Up</button>
      </div>
      <small>Your email is used as your username on AnkiWeb, and for communication relating
        to the service, such as when you reset your password.</small>
    </form>
  </main>


  <div class="bottom">

  </div>
</div>
</body>
</html>

