<!-- src/app/home/home.component.html -->
<!DOCTYPE html>
<html lang ="en">
<head>
  <title> Anki Web</title>
  <link rel="stylesheet" href="signup.component.css">
</head>

<body>
<div class = "main">
  <div class ="navbar">
    <div class="icon">
      <h2 class ="logo">AnkiWeb</h2>
      <img src="logo.png" alt="" class="logo" height="64" width="64">
    </div>
    <nav>
      <div class="auth-buttons">
        <ul>
          <li><a href="#">
            <button class="login-button">Log In</button>
          </a></li>
          <li><a href="#">
            <button class="login-button">Sign up</button>
          </a></li>
        </ul>
      </div>
    </nav>
  </div>

  <main class="container svelte-uhvvkf">
    <h1> Sign Up</h1>
    <p> Create a free account in under a minute.</p>
    <p> We'll send you an email to confirm your address, so please
      ensure your email is correct.
    </p>
    <form (ngSubmit)="onSignUpClick()">
      <label igxLabel for="firstName" class="label">First Name</label>
      <igx-input-group>
        <input igxInput id="firstName" name="firstName" [(ngModel)]="firstName" [required]="true"/>
      </igx-input-group>
      <label igxLabel for="lastName" class="label">Last Name</label>
      <igx-input-group>
        <input igxInput id="lastName" name="lastName" [(ngModel)]="lastName" [required]="true"/>
      </igx-input-group>
      <label igxLabel for="age" class="label">Age</label>
      <igx-input-group>
        <input igxInput id="age" name="age" [(ngModel)]="age" [required]="true"/>
      </igx-input-group>
      <label igxLabel for="email" class="label">Email</label>
      <igx-input-group>
        <input igxInput id="email" name="email" [(ngModel)]="email" [required]="true"/>
      </igx-input-group>
      <label igxLabel for="password" class="label">Password</label>
      <igx-input-group>
        <input igxInput id="password" name="password" [(ngModel)]="password" [required]="true"/>
      </igx-input-group>
      <button igxButton>Sign Up</button>

    </form>
  </main>


  <div class="bottom">

  </div>
</div>
</body>
</html>

