<!DOCTYPE html>
<html lang ="en">
<head>
  <title> Anki Web</title>
  <link rel="stylesheet" href="search.component.css">
</head>

<body>
<div class = "main">
  <div class ="navbar">
    <div class="icon">
      <h2 class ="logo">AnkiWeb</h2>
      <img src="logo.png" alt="" class="logo">
    </div>
    <nav>
      <div class="auth-buttons">
        <ul>
          <li><a href="#">
            <button class="Account-button">Account</button>
          </a></li>
          <li><a href="#">
            <button class="LogOut-button">Log Out</button>
          </a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="Search">
    <h1>Search</h1>
    <div class="navbar-4">
      <div class="search-container">
        <button class="search-button" (click)="searchDecks()">Search</button>
      </div>
    </div>
  </div>
  <div class ="navbar-2">
    <div class="bottom">
      <nav>
        <div class="info-button">
          <ul>
            <li><a href="#">
              <button class="Apps-button">Apps</button>
            </a></li>
            <li><a href="#">
              <button class="About-button">About</button>
            </a></li>
            <li><a href="#">
              <button class="Support-button">Support</button>
            </a></li>
            <li><a href="#">
              <button class="Terms-button">Terms</button>
            </a></li>
            <li><a href="#">
              <button class="Privacy-button">Privacy</button>
            </a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
</body>
</html>


