<!-- src/app/home/home.component.html -->
<!DOCTYPE html>
<html lang ="en">
<head>
  <title> Anki Web</title>
  <link rel="stylesheet" href="home.component.css">
</head>

<body>
<div class = "main">
  <div class ="navbar">
    <div class="icon">
      <h2 class ="logo">AnkiWeb</h2>
      <img src="logo.png" alt="" class="logo">
    </div>
    <nav>
      <div class="auth-buttons">
        <ul>
          <li><a href="/login">
            <button class="login-button">Log In</button>
          </a></li>
          <li><a href="/signup">
            <button class="signup-button">Sign up</button>
          </a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="home-container">
    <h3>Welcome to your Anki-Web app</h3>
    <p>Start your learning journey with flashcards!</p>

    <p>AnkiWeb is a free companion to the computer version of Anki. AnkiWeb can be used to review online when you don't have access to your home computer, and can be used to keep your cards synchronized across multiple machines.


      AnkiWeb is intended to be used in conjunction with the computer version of Anki. While it is possible to create basic text-only cards and review them using only AnkiWeb, to download shared decks, take advantage of multimedia features and so on, you will need to use the free computer version as well. If you have not used Anki before, please start with the computer version.</p>

  </div>
  <div class ="navbar-2">
    <div class="bottom">
      <nav>
        <div class="info-button">
          <ul>
            <li><a href="#">
              <button class="Apps-button">Apps</button>
            </a></li>
            <li><a href="#">
              <button class="About-button">About</button>
            </a></li>
            <li><a href="#">
              <button class="Support-button">Support</button>
            </a></li>
            <li><a href="#">
              <button class="Terms-button">Terms</button>
            </a></li>
            <li><a href="#">
              <button class="Privacy-button">Privacy</button>
            </a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
</body>
</html>

