<!-- src/app/home/home.component.html -->
<!DOCTYPE html>
<html lang ="en">
<head>
  <title> Anki Web</title>
  <link rel="stylesheet" href="account.component.css">
</head>

<body>
<div class = "main">
  <div class ="navbar">
    <div class="icon">
      <h2 class ="logo">AnkiWeb</h2>
      <img src="logo.png" alt="" class="logo">
    </div>
    <nav>
      <div class="auth-buttons">
        <ul>
          <li><a href="#">
            <button class="login-button">Log In</button>
          </a></li>
          <li><a href="#">
            <button class="login-button">Sign up</button>
          </a></li>
        </ul>
      </div>
    </nav>
  </div>

  <main class="container svelte-uhvvkf">
    <h1> Account Settings</h1>
    <div class="d-flex align-items-start mt-3">
      <div class="nav nav-pills nav-justified flex-column flex-shrink-0 me-2" role="tablist">
        <li class="nav-item button-container" role="presentation">
          <button class="login-button">Change Email</button>
        </li>
        <li class="nav-item button-container" role="presentation">
          <button class="login-button">Change Password</button>
        </li>
      </div>
      <form>
        <div class="form-floating mb-3 form-control">
          <input class="form-control svelte-1ak1s42" type="text" autocomplete="username" autofocus="" maxlength="1000" id="GlReZmt-jnW847kZ87-8m" placeholder="Email">
        </div>
        <div class="form-floating mb-3 form-control">
          <input class="form-control svelte-1ak1s42" type="password" autocomplete="new-password" id="5rhTozHVztdZ-0pODxGLU" placeholder="New Password">
        </div>
        <div class="mb-3">
          <button class="btn1" disabled="">Update</button>
        </div>
        <small></small>
      </form>
    </div>
  </main>
  <div class="bottom">

  </div>
</div>
</body>
</html>
